version: "3.1"
services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    image: deviavir/zenbot:unstable
    restart: always
    tty: true
    ports:
      - "17365:17365"
    stdin_open: true
